@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

nav{
    background-color: rgb(35, 78, 64);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
    font-size: 1.5rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    width: 50%;
}

#ul2{
    justify-content: space-between;
    padding-right: 10vw;
    padding-left: 50vw;
    
}

#ul1{
    padding-left: 10vw;
}

.gameContainer{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(3, 12vw);
    cursor: pointer;
}

.box{
    border: solid 2px;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(221, 237, 232);
}

.gameInfo{
    padding: 0 2vw;
    font-size: 2rem;
}

.imgBox{
    display: none;
}

.bl-0{
    border-left: 0;
}

.br-0{
    border-right: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin-top: 2%;
    padding: 1% 4%;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 15%;
    cursor: pointer;
}